aws_region         = "us-east-1"
project_name       = "iac-final"
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
instance_type      = "t2.micro"
ami_id             = "ami-084568db4383264d4"
key_name           = "your-keypair-name"  # Replace with your actual key pair name
state_bucket_name  = "your-globally-unique-bucket-name"  # Must be globally unique
dynamodb_table_name = "your-terraform-locks-table" 